@using PagedList
@using PagedList.Mvc;
@model IEnumerable<CMS.Models.PEO>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>


    @using (Html.BeginForm())
    {
        <p>
            query: @Html.TextBox("q", "", new { @class = "form-control", @Style = "display:inline" })
            <button type="submit" class="btn btn-default">搜尋</button>
        </p>
    }
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATEDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEXT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATEDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEXT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
@Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", new  {page=x }))
